$negro: black;
$gris: grey;
$blanco: white;
$rojo: red;
$marron: brown;
$marron2: rgb(165, 91, 42);
$azul: rgb(68, 0, 255);
$amarillo: yellow;
$verdeparagradiente: #053730;
$verdeaguaparagradiente: #12EBE9;
$violetparagradiente: #370533;
$rosaparagradiente: #EB1285;
$verdemilitarparagradiente: #243705;
$naranjaparagradiente: #EB4912;