
footer{
    background-color:$gris;
        h3{
        color: $blanco;
        font-size: $fuentemediana;
        font-family: $fuentetextos;
        font-style: $fuentebold;
        display: flex;
        padding: 1rem;
        .instagram{
        color: $blanco;
        font-size: $fuentemediana;
        font-family: $fuentetextos;
        font-style: $fuentebold;
        }
    }
    }