footer{
    background-color:$gris;
        // h3{
        // color: $blanco;
        // font-size: $fuentemediana;
        // font-family: $fuentetextos;
        // font-style: $fuentebold;
        // display: flex;
        // padding: 1rem;
        .instagram{
        animation-name: ampliarBotonIG;
        animation-duration: 3s;
        animation-delay: 0.4s;
        animation-iteration-count: infinite;
        color: $blanco;
        font-size: $fuentemediana;
        font-family: $fuentetextos;
        font-style: $fuentebold;
        }
    // }
    }