/*GRID ESTRUCTURA UBICACION*/
    .contenedorgeneralubicacion{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.8fr 0.1fr;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: auto;
        grid-template-areas:
        "header"
        "cuerpo"
        "pie"
        ;
        grid-row-gap: 1rem;
        // background-color: $negro;
            .grid-headerubicacion{
                grid-area: header;
                border-radius: 0.5rem;
                }  
                .grid-mainubicacion{
                    grid-area: cuerpo;
                    border-radius: 0.5rem;
                    align-items: center;
                    .parrafomapaubicacion{
                        font-size: $fuentemediana;
                        background-image: linear-gradient(to left, #053707, #00503a, #00697b, #007cbe, #1285eb);
                        transform: rotate(360deg);
                        color: $blanco;
                        font-family: $fuentetextos;
                        font-size: $fuentechica;
                        font-style: normal;
                            .mapitaubicacion{
                                height: 75%;
                                transform: scale(2,1);
                        }
                    } 
            }
                            .grid-footerubicacion{
                                grid-area: pie;
                                border-radius: 0.5rem;
                    }
        }