$fuentetextos: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
$fuentemediana: medium;
$fuentegrande: larger;
$fuentechica: small;
$fuentebold: bold;
$negro: black;
$gris: grey;
$blanco: white;
$rojo: red;
$marron: brown;
$marron2: rgb(165, 91, 42);
$azul: rgb(68, 0, 255);
$amarillo: yellow;